<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="notepadplusplus" />
    <package id="cutepdf" />
    <package id="flashplayerplugin" />
    <package id="flashplayeractivex" />
    <package id="git" />
    <package id="sourcetree" />
    <package id="fiddler4" />
    <package id="svn" />
    <package id="tortoisesvn" />  
    <package id="7zip" />  
    <package id="adobereader" />  
    <package id="winscp" />   

     <!--
    <package id="githubforwindows" />
    <package id="vagrant" />
    <package id="virtualbox" />    
    <package id="firefox" />
    <package id="chrome" />
    <package id="phpstorm" />
    -->
</packages>